*
  box-sizing: border-box
body
  font-family: 'Muli', sans-serif
  color: $text-color
  background-color: $secondary
.container
  max-width: 1110px
  margin: auto
img
  max-width: 100%
button
  cursor: pointer
  &:focus
    outline: none
.form
  display: flex
  align-items: center
  justify-content: space-between
  flex-wrap: wrap
.input
  min-height: 50px
  background-color: $light
  border-radius: 4px
  border: none
  padding: 0 23px
  font-weight: normal
  font-size: 12px
  line-height: 15px
  &:focus
    outline: none
  &::placeholder
    color: #bdbdbd
  &:-ms-input-placeholder
    color: #bdbdbd
  &::-ms-input-placeholder
    color: #bdbdbd
  &::-webkit-input-placeholder
    color: #bdbdbd
  &::-moz-placeholder
    color: #bdbdbd
    opacity: 1
.message
  min-height: 123px    
  background-color: $light
  border-radius: 4px
  border: none
  padding: 18px 23px
  resize: none
  font-weight: normal
  font-size: 12px
  line-height: 15px    
  &:focus
    outline: none
  &::placeholder
    color: #bdbdbd
  &:-ms-input-placeholder
    color: #bdbdbd
  &::-ms-input-placeholder
    color: #bdbdbd
  &::-webkit-input-placeholder
    color: #bdbdbd
  &::-moz-placeholder
    color: #bdbdbd
    opacity: 1
.button
  min-width: 160px
  min-height: 50px    
  padding: 18px
  border: none
  border-radius: 4px
  background-color: $primary
  color: $light
  font-weight: bold
  font-size: 12px
  line-height: 15px
  &:focus
    outline: none
// .invalid  
//   color: $primary
//   font-weight: bold
label.invalid
  position: absolute
  left: 5px
  bottom: -10px
  font-size: 12px  
  color: $light
  background-color: $primary
  padding: 4px
  border-radius: 4px
