.other-packages
  padding: 40px 0 70px 0
  &__title
    margin: 0 0 65px 0
    font-weight: bold
    font-size: 36px
    line-height: 45px
    text-align: center
    text-transform: uppercase
  &__grid
    color: $light
    display: grid
    grid-template: repeat(2, 500px) / repeat(3, 1fr)
    grid-gap: 30px
.big-card
  grid-column: 1 / span 2
  display: flex
  border-radius: 8px
  overflow: hidden
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25))
  &__block
    position: relative
    width: 365px
    height: 500px
  &__img
    width: 100%
    height: 100%
    object-fit: cover
  &__offer
    position: absolute
    left: 0
    top: 26px
    padding: 8px 12px
    font-weight: 600
    font-size: 12px
    line-height: 15px
    background-color: $primary
    border-radius: 0px 4px 4px 0px
    cursor: pointer
  &__hotel
    &-description
      max-width: 365px
      min-height: 500px
      padding: 46px 21px 30px 44px
      background-color: $dark
    &-title
      margin: 0 0 27px 0
      font-weight: bold
      font-size: 18px
      line-height: 23px
    &-text
      margin: 0 0 46px 0
      font-weight: normal
      font-size: 14px
      line-height: 160.6%
  &__stars
    margin-bottom: 5px
.card
  &-grid    
    display: grid
    grid-template-rows: repeat(3, 26px)
    grid-template-columns: 30px 175px
    &__big
      margin-bottom: 24px
    &__small
      margin-bottom: 14px
    &__text
      font-weight: normal
      font-size: 12px
      line-height: 15px
  &-price
    &__old
      font-weight: normal
      font-size: 14px
      line-height: 18px
      text-decoration-line: line-through
    &__block
      display: flex
      justify-content: space-between
      align-items: center
    &__new
      font-weight: bold
      font-size: 24px
      line-height: 30px
    &__button
      font-weight: 600
      font-size: 14px
      line-height: 19px
      color: $light
      padding: 10px 26px
      background-color: $primary
      border-radius: 4px
      border: none
      cursor: pointer
.small-card
  border-radius: 8px
  overflow: hidden
  &__block
    position: relative
    // width: 350px
    height: 250px
  &__img
    width: 100%
    height: 100%
    object-fit: cover
  &__offer
    position: absolute
    left: 0
    top: 26px
    padding: 4px 9px
    font-weight: 600
    font-size: 8px
    line-height: 10px
    background-color: $primary
    border-radius: 0px 4px 4px 0px
    cursor: pointer
  &__hotel
    &-description
      background-color: $dark
      padding: 30px 21px 25px 32px
    &-title
      margin: 0 0 23px 0
      font-weight: bold
      font-size: 18px
      line-height: 23px
